<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StudentExpenseTracker.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
				<key>dateExpires</key>
				<string>23/07/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>787A464507F20BAD6EB1E47DB7AE8E119D3D14FB</string>
						<key>dateExpires</key>
						<string>23/07/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4RFWMHJ26M</string>
						<key>name</key>
						<string>Henrique Machitte</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4RFWMHJ26M.com.group10.Buckit</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>4RFWMHJ26M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>StudentExpenseTracker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>10cbe4c6-df7b-4b18-825b-e746b3f8e8b3</string>
				<key>dateExpires</key>
				<string>23/07/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.group10.Buckit</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4RFWMHJ26M</string>
				<key>name</key>
				<string>Henrique Machitte</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
